
.hero {
    position: relative;
    height: 100%;
}

.hero .name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.hero .name img {
    margin: 10px 0px;
}

.bg-blue {
    background-color: #0c132a;
}

.bg-cyan {
    background-color: #70c8b9;
}

.bg-orange {
    background-color: #febf10;
}

.bg-pink {
    background-color: #ee4699;
}

.bg-white {
    background-color: #ffffff;
}