
/* hero */

#hero-canvas {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.hero .name {
    /* center horizontally and vertically */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* sizing */
    z-index: 2;
    width: 50%;
}

.hero .name img {
    margin: 10px 0px;
}

.pulldown {
    position: absolute;
    width: 5%;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}


/* background colors */

.bg-blue {
    background-color: #0c132a;
}

.bg-cyan {
    background-color: #70c8b9;
}

.bg-orange {
    background-color: #febf10;
}

.bg-pink {
    background-color: #ee4699;
}

.bg-white {
    background-color: #ffffff;
}