
body {
    /* Override default margin */
    margin: 10px;
}

/* page anchor */

#home-page {
    height: 100%;
    position: relative;
}

/* hero */

#hero-canvas {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.name {
    /* center horizontally and vertically */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 2;
}

.name img {
    margin: 10px 0px;
}

#pulldown-btn {
    /* Center horizontally */
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#close-btn {
    position: absolute;
    width: 10%;
    top: 5%;
    z-index: 2;
}

@media all and (orientation:portrait) {
    #pulldown-btn {
        width: 12%;
        top: 85%;
    }

    #close-btn {
        width: 12%;
        left: 80%;
    }

    .name {
        width: 50%;
    }
}

@media all and (orientation:landscape) {
    #pulldown-btn {
        height: 10%;
        top: 85%;
    }

    #close-btn {
        height: 10%;
        left: 88%;
    }

    .name {
        width: 40%;
    }
}

/* detail */

.detail {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.navbar {
    width: 100%;
    height: 10%;
    margin: 0px 0px 0px 0px;
}

.content {
    width: 100%;
    height: 90%;
}


/* background colors */

.bg-blue {
    background-color: #0c132a;
}

.bg-cyan {
    background-color: #70c8b9;
}

.bg-orange {
    background-color: #febf10;
}

.bg-pink {
    background-color: #ee4699;
}

.bg-white {
    background-color: #ffffff;
}